version: 2
updates:
  # Enable version updates for .NET
  - package-ecosystem: "nuget"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "03:00"
    open-pull-requests-limit: 5
    reviewers:
      - "NguyenPhuocSang1695"
    labels:
      - "dependencies"
      - "dotnet"

  # Enable version updates for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "04:00"
    open-pull-requests-limit: 5
    reviewers:
      - "NguyenPhuocSang1695"
    labels:
      - "ci"
      - "github-actions"
