name: Code Style

on:
  push:
    branches: ["main", "master", "develop"]
  pull_request:
    branches: ["main", "master"]

jobs:
  code-style:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: "10.0.x"
      - name: Install dotnet-format
        run: dotnet tool install -g dotnet-format
      - name: Check code style
        run: dotnet format --verify-no-changes --verbosity diagnostic
